.foot_nav {
    width: 1492px;
    padding-left: 39px;
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    color: #222;
}

.foot_nav .list .item {
    width: 200px;
    height: 250px;
}

.foot_nav .list .item p {
    margin-bottom: 20px;
    font-size: 14px;
}   

.foot_nav .list .item .title {
    height: 22px;
    font-size: 16px;
    font-weight: 700;
}

.foot_link_list {
    margin-top: 50px;
}

.foot_link_list .start_list {
    width: 288px;
}

.foot_link_list .start_list img {
    width: 28px;
    height: 28px;
}

.foot_link_list .end_list {
    font-size: 14px;
    width: 580px;
}

.foot_link_list .end_list img {
    width: 120px;
    height: 40px;
}

.tnf_info {
    padding: 20px 30px;
    background-color: rgb(244, 244, 244);
    text-align: center;
    font-size: 14px;
    color: #666;
}

.tnf_info .content>div:nth-child(2) span:nth-child(-n+6):after {
    display: inline-block;
    content: "";
    width: 2px;
    height: 2px;
    background-color: #666;
    border-radius: 100000px;
    margin: 0 1px 4px 1px;
}

.tnf_info .content>div {
    padding: 5px 0;
}

.tnf_info .content>div:last-child img {
    width: 19px;
    height: 20px;
    padding: 0 15px;
}